.mood {
  width: 100%;
  height: 100%;
  .card {
    margin: 16px;
    font-size: 32px;

    .top {
      padding: 60px 0;
      border-radius: 40px 40px 0 0;
      box-shadow: 0 -10rpx 30rpx -6rpx #b6b6b665;

      .h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;

        .h1-image {
          margin-right: 16px;
          width: 60px;
          height: 60px;
        }
      }

      .h2 {
        margin-bottom: 20px;
        text-align: center;
        font-size: 120px;
        font-weight: bolder;
      }

      .h3 {
        text-align: center;
        color: #999;
      }

    }

    .bottom {
      display: flex;
      position: relative;
      justify-content: space-between;
      border-top: 4px solid #cccccc3b;
      padding: 0 8px 32px;

      &::before {
        content: '';
        position: absolute;
        top: 40%;
        left: 0;
        background: #cccccc3b;
        height: 4px;
        width: 100%;
        z-index: -1;
      }

      &-item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &-top {
          height: 500px;
          display: flex;
          align-items: flex-end;
          justify-content: center;
        }

        &-progress {
          display: flex;
          flex-direction: column;
          padding: 1px;
          border-radius: 40px;
          border: 6px solid transparent;
          height: 100%;

          &-text {
            padding-top: 10px;
            width: 100%;
            text-align: center;
            color: #fff;
          }

          &-image {
            margin-top: auto;
            width: 70px;
            height: 70px;
          }

        }

        &-text {
          width: 55px;
          text-align: center;
          margin-top: 26px;
          padding: 8px;
          border-radius: 16px;
        }

        &-textBg {
          color: #fff;
          background: #000;
        }

      }

      .faceNormal {
        .bottom-item-progress {
          background-color: rgb(99, 173, 76);
        }
      }

      .faceSmile {
        .bottom-item-progress {
          background-color: rgb(255, 130, 81);
        }
      }

      .faceSad {
        .bottom-item-progress {
          background-color: rgb(255, 89, 89);
        }
      }

      .faceQuestion {
        .bottom-item-progress {
          background-color: rgb(155, 155, 155);
        }
      }

      .bottom-item-checked.faceNormal {
        .bottom-item-progress {
          animation: clickNormal 1s both;
        }

        .bottom-item-text {
          background: #fff;
          color: rgb(99, 173, 76);
          box-shadow: 0rpx 0rpx 10rpx 10rpx #b6b6b665;
        }
      }

      .bottom-item-checked.faceSmile {
        .bottom-item-progress {
          animation: clickSmile 1s both;
        }

        .bottom-item-text {
          background: #fff;
          color: rgb(255, 96, 48);
          box-shadow: 0rpx 0rpx 10rpx 10rpx #b6b6b665;
        }
      }

      .bottom-item-checked.faceSad {
        .bottom-item-progress {
          animation: clickSad 1s both;
        }

        .bottom-item-text {
          background: #fff;
          color: rgb(255, 62, 62);
          box-shadow: 0rpx 0rpx 10rpx 10rpx #b6b6b665;
        }
      }

      .bottom-item-checked.faceQuestion {
        .bottom-item-progress {
          animation: clickQuestion 1s both;
        }

        .bottom-item-text {
          background: #fff;
          color: rgb(155, 155, 155);
          box-shadow: 0rpx 0rpx 10rpx 10rpx #b6b6b665;
        }
      }
    }
  }
}

@keyframes clickNormal {
  0% {
    background-color: rgb(99, 173, 76);
    border: 6px solid transparent;
    box-shadow: none;
  }

  100% {
    background-color: rgb(117, 250, 76);
    border: 6px solid #e0ffd9;
    box-shadow: 0rpx 0rpx 10rpx 10rpx #b6b6b665;
  }
}

@keyframes clickSmile {
  0% {
    background-color: rgb(255, 130, 81);
    border: 6px solid transparent;
    box-shadow: none;
  }

  100% {
    background-color: rgb(255, 72, 0);
    border: 6px solid #ffdfca;
    box-shadow: 0rpx 0rpx 10rpx 10rpx #b6b6b665;
  }
}

@keyframes clickSad {
  0% {
    background-color: rgb(255, 89, 89);
    border: 6px solid transparent;
    box-shadow: none;
  }

  100% {
    background-color: rgb(255, 0, 0);
    border: 6px solid #ffdede;
    box-shadow: 0rpx 0rpx 10rpx 10rpx #b6b6b665;
  }
}

@keyframes clickQuestion {
  0% {
    background-color: rgb(155, 155, 155);
    border: 6px solid transparent;
    box-shadow: none;
  }

  100% {
    background-color: rgb(201, 201, 201);
    border: 6px solid #b9b9b9;
    box-shadow: 0rpx 0rpx 10rpx 10rpx #b6b6b665;
  }
}

// 待优化：配置化

@keyframes height86 {
  0% {
    height: 0;
  }

  100% {
    height: 86%;
  }
}

@keyframes height80 {
  0% {
    height: 0;
  }

  100% {
    height: 80%;
  }
}

@keyframes height30 {
  0% {
    height: 0;
  }

  100% {
    height: 30%;
  }
}

@keyframes height90 {
  0% {
    height: 0;
  }

  100% {
    height: 90%;
  }
}

@keyframes height59 {
  0% {
    height: 0;
  }

  100% {
    height: 59%;
  }
}

@keyframes height97 {
  0% {
    height: 0;
  }

  100% {
    height: 97%;
  }
}

@keyframes height81 {
  0% {
    height: 0;
  }

  100% {
    height: 81%;
  }
}
